* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', Helvetica, sans-serif;
    background-color: #e44c4c;
    color: #030303;
    line-height: 1.6;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.title {
    text-align: center;
    margin-bottom: 40px;
}

.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.terminal-card {
    background: #070303;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgb(186, 14, 40);
    padding: 20px;
    text-align: center;
}

.card{
    background-color: #b31313;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(206, 9, 9, 0.613);
    padding: 20px;
    margin: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container-information {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.testimonial-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 3.5px solid #07090a;
}

.testimonial-quote {
    font-style: italic;
    margin-bottom: 15px;
    color: #621111;
    font-size: 1.1em;
    line-height: 1.4;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #9b6a6a;
    border-radius: 5px;
    border-left: 4px solid #000000;
    box-shadow: inset 0 1px 3px rgba(223, 216, 216, 0.1);
    transition: background-color 0.3s ease;

}

.testimonial-author {
    font-weight: bold;
    color: #130505;
}

.testimonial-role {
    color: #020202;
    font-size: 0.9em;
}